@font-face {
  font-family: 'Iconic Trial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Iconic Trial Regular'), url('Iconic-Regular-trial.woff'), url(/fonts/iconic-trial-cufonfonts-webfont/Iconic-Regular-trial.woff) format('woff');
}

@font-face {
  font-family: 'Iconic Trial Light';
  font-style: normal;
  font-weight: normal;
  src: local('Iconic Trial Light'), url('Iconic-Light-trial.woff'), url(/fonts/iconic-trial-cufonfonts-webfont/Iconic-Light-trial.woff) format('woff');
}
